<div class="card no-top-border-card">
  <div class="card-block">
    <form class="expense-form" (ngSubmit)="addExpence()" #expensesForm="ngForm">
      <div class="form-group">
        <label for="name">Що</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="expense.name" required name="name">
      </div>
      <div class="form-group">
        <label for="description">Детальніше</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="expense.description"
               name="description">
      </div>
      <div class="form-group">
        <label for="value">Скільки</label>
        <input type="number" class="form-control" id="value" [(ngModel)]="expense.value" required name="value">
      </div>
      <div class="form-group">
        <label for="date">Коли</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="expense.date" required name="date">
      </div>
      <div class="row vertical-align">
        <div class="col-md-2">
          <button type="submit" class="btn btn-outline-primary">Додати</button>
        </div>
        <div class="col-md-10">
          <i class="fa fa-{{alert.type}}" aria-hidden="true" *ngIf="alert?.visible"></i>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card vertical-align">
  <div class="col-md-9">
    <input type="file" class="form-control-file" ng2FileSelect [uploader]="uploader"/>
  </div>
  <div class="col-md-3">
    <div class="card-block">
      <button type="button" class="btn btn-outline-success btn-s"
              (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Завантажити
      </button>
    </div>
  </div>
</div>
