<div class="container">
  <form class="expense-form" (ngSubmit)="addExpence()" #expensesForm="ngForm">
    <div class="row">
      <div class="card">
        <div class="card-block">
          <div class="form-group">
            <label for="name">Що</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="expense.name" required name="name">
          </div>
          <div class="form-group">
            <label for="description">Детальніше</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="expense.description" name="description">
          </div>
          <div class="form-group">
            <label for="value">Скільки</label>
            <input type="number" class="form-control" id="value" [(ngModel)]="expense.value" required name="value">
          </div>
          <div class="form-group">
            <label for="date">Коли</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="expense.date" required name="date">
          </div>
          <button type="submit" class="btn btn-default" >Додати</button>
        </div>
      </div>
    </div>
  </form>

  <ngb-alert *ngIf="alert?.visible" [type]="alert.type" (close)="alert.visible = false">{{ alert.message }}
  </ngb-alert>
</div>
